

<h2>Empower your flower: <span class="data">{{flower.name}}</span></h2>

<form method="POST" action="/:id/edit" class="form">
  <input type="hidden" name="id" value="{{flower.id}}">

  <label for="name" class="label"> Name </label>
  <input type="text" id="name" name="name" placeholder="Flower name" value="{{flower.name}}">

  <label for="powers" class="label"> Power </label>
  <select id="powers" name="powerId">
    {{#each powers}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>

  <div></div>
  <button>edit</button>
</form>